html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#course-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#course-title {
    flex: 2;
    align-self: center;
    font-weight: bold;
}

#course-add {
    flex: 3;
}

.course-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
